<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.SysLog">
    <!--@mbg.generated-->
    <!--@Table sys_log-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="operation" property="operation" />
    <result column="method" property="method" />
    <result column="params" property="params" />
    <result column="time" property="time" />
    <result column="ip" property="ip" />
    <result column="create_date" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `operation`, `method`, params, `time`, ip, create_date
  </sql>
</mapper>